<%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
<%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>
<div class='mx-auto flex flex-col gap-2 max-w-md bg-sky-100 border-1 border-sky-600/50 p-3'>
    <%= form_with url: session_path do |form| %>
    <div class="flex flex-col gap-1.5">
      <span>
        <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address] %>
      </span>
      <span>
        <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 24 %>
      </span>
      <span class="bg-sky-400 hover:bg-sky-300 w-fit px-2 py-0.5 rounded-md">
        <%= form.submit "Sign in" %>
      </span>

    </div>
    <% end %>

  <div>
    <%= link_to "Forgot password?", new_password_path %>
  </div>
</div>
